# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

.angular
/apps/server/supabase/.temp/cli-latest
/apps/server/supabase/.temp/gotrue-version
/apps/server/supabase/.temp/pooler-url
/apps/server/supabase/.temp/postgres-version
/apps/server/supabase/.temp/project-ref
/apps/server/supabase/.temp/rest-version
/apps/server/supabase/.temp/storage-version
/supabase/.temp/cli-latest
/supabase/.temp/gotrue-version
/supabase/.temp/pooler-url
/supabase/.temp/postgres-version
/supabase/.temp/project-ref
/supabase/.temp/rest-version
/supabase/.temp/storage-version

vite.config.*.timestamp*
vitest.config.*.timestamp*
/_site/assets/__federation_shared_react-D7Zgw_0-.js
/_site/assets/__federation_shared_react-dom-IflkU67A.js
/_site/assets/_commonjsHelpers-CqkleIqs.js
/_site/assets/index-BLEmuFXE.js
/_site/assets/index-buXj9jIL.js
/_site/assets/index-Cmgzc2M7.js
/_site/assets/index-CqXh_HPa.css
/_site/dashboard/__federation_expose_DashboardPage-Bze4bPUP.js
/_site/dashboard/__federation_fn_import-XGhMXRy6.js
/_site/dashboard/__federation_shared_react-D7Zgw_0-.js
/_site/dashboard/__federation_shared_react-dom-IflkU67A.js
/_site/dashboard/_commonjsHelpers-CqkleIqs.js
/_site/dashboard/favicon.ico
/_site/dashboard/index.html
/_site/dashboard/index-BK5gmOBa.css
/_site/dashboard/index-BLEmuFXE.js
/_site/dashboard/index-C8Mukz6L.js
/_site/dashboard/index-Cmgzc2M7.js
/_site/dashboard/remoteEntry.js
/_site/upload/__federation_expose_UploadPage-CP3kHxM4.js
/_site/upload/__federation_fn_import-XGhMXRy6.js
/_site/upload/__federation_shared_react-D7Zgw_0-.js
/_site/upload/__federation_shared_react-dom-IflkU67A.js
/_site/upload/_commonjsHelpers-CqkleIqs.js
/_site/upload/favicon.ico
/_site/upload/index.html
/_site/upload/index-BK5gmOBa.css
/_site/upload/index-BLEmuFXE.js
/_site/upload/index-Cmgzc2M7.js
/_site/upload/index-DXgiEUvD.js
/_site/upload/remoteEntry.js
/_site/favicon.ico
/_site/index.html
